infra/group-interview/n8n-workflow.json
{
  "name": "Group Interview Registration",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "content": "## Group Interview Workflow\n\n### Email Sequence\n1. **Confirm Registration** — immediate confirmation to candidate\n2. **Notify Team** — internal alert to wattstoworkers@thiswayglobal.com\n3. **Reminder: 3 Days** — sent 3 days before interview\n4. **Reminder: 1 Day** — sent 1 day before interview\n5. **Reminder: Starting Soon** — sent 2 hours before interview\n6. **Post-Interview Follow-up** — sent 90 min after interview start\n\n### Setup Required\n- **Mailgun credential**: Ensure `m.thiswayglobal.com` is a verified sending domain in the Mailgun account\n- **Reply-To**: Configure default Reply-To as `wattstoworkers@thiswayglobal.com` in Mailgun domain settings for `m.thiswayglobal.com`\n- **Interview Link**: Update the link in MJML templates + recompile if a dedicated interview-join page exists (currently points to `/group-interview`)\n\n### Editing Emails\nEdit the `.mjml` source files in `emails/`, then run:\n```\ncd emails && for f in 0*.mjml; do mjml \"$f\" -o \"${f%.mjml}.html\" --config.minify true; done\n```\nThen run `node build-workflow.js` to regenerate this workflow JSON."
      },
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        640
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "group-interview",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "47cfba9c-0390-40c1-ac6d-a81fc7006e60",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -192,
        1040
      ],
      "webhookId": "group-interview"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "check",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "save",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "id": "d59ef1cd-c65e-42da-8f10-8d33d8d1dedf",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        32,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*)::int as count FROM group_interview_registrations WHERE interview_date = '{{ $json.body.interview_date }}'",
        "options": {}
      },
      "id": "cd473a4a-544f-4bae-ac1b-8dd11c5c6049",
      "name": "Count Registrations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        256,
        840
      ],
      "credentials": {
        "postgres": {
          "id": "qYLP1qqStnwaPbh4",
          "name": "TWG | PG"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ available: (100 - $json.count), total: 100, registered: $json.count, is_available: $json.count < 100 }) }}",
        "options": {}
      },
      "id": "571d3ca5-6cbe-4e80-a314-cb7878d909a5",
      "name": "Respond Availability",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        480,
        840
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO group_interview_registrations (first_name, last_name, email, phone, interview_date, interview_label, role) VALUES ('{{ $json.body.first_name }}', '{{ $json.body.last_name }}', '{{ $json.body.email }}', '{{ $json.body.phone }}', '{{ $json.body.interview_date }}', '{{ $json.body.interview_label }}', '{{ $json.body.role }}') ON CONFLICT (email, interview_date) DO NOTHING RETURNING id",
        "options": {}
      },
      "id": "2418eccc-09ee-4baf-8ca2-0794b73df592",
      "name": "Save Registration",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        256,
        1040
      ],
      "credentials": {
        "postgres": {
          "id": "qYLP1qqStnwaPbh4",
          "name": "TWG | PG"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Registration saved successfully' }) }}",
        "options": {}
      },
      "id": "2aa6a854-93f7-4b5b-9e5c-2a49b98c4d1e",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        480,
        940
      ]
    },
    {
      "parameters": {
        "fromEmail": "notifications@m.thiswayglobal.com",
        "toEmail": "wattstoworkers@thiswayglobal.com",
        "ccEmail": "daniel.snell@thiswayglobal.com",
        "subject": "=New Group Interview Sign-up: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}",
        "html": "=<!doctype html><html lang=\"und\" dir=\"auto\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head>  <title></title>  <!--[if !mso]><!-->  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">  <!--<![endif]-->  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">  <style type=\"text/css\">    #outlook a {      padding: 0;    }    body {      margin: 0;      padding: 0;      -webkit-text-size-adjust: 100%;      -ms-text-size-adjust: 100%;    }    table,    td {      border-collapse: collapse;      mso-table-lspace: 0pt;      mso-table-rspace: 0pt;    }    img {      border: 0;      height: auto;      line-height: 100%;      outline: none;      text-decoration: none;      -ms-interpolation-mode: bicubic;    }    p {      display: block;      margin: 13px 0;    }  </style>  <!--[if mso]>    <noscript>    <xml>    <o:OfficeDocumentSettings>      <o:AllowPNG/>      <o:PixelsPerInch>96</o:PixelsPerInch>    </o:OfficeDocumentSettings>    </xml>    </noscript>    <![endif]-->  <!--[if lte mso 11]>    <style type=\"text/css\">      .mj-outlook-group-fix { width:100% !important; }    </style>    <![endif]-->  <!--[if !mso]><!-->  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\" type=\"text/css\">  <style type=\"text/css\">    @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);  </style>  <!--<![endif]-->  <style type=\"text/css\">    @media only screen and (min-width:480px) {      .mj-column-per-100 {        width: 100% !important;        max-width: 100%;      }    }  </style>  <style media=\"screen and (min-width:480px)\">    .moz-text-html .mj-column-per-100 {      width: 100% !important;      max-width: 100%;    }  </style>  <style type=\"text/css\">    @media only screen and (max-width:479px) {      table.mj-full-width-mobile {        width: 100% !important;      }      td.mj-full-width-mobile {        width: auto !important;      }    }  </style></head><body style=\"word-spacing:normal;background-color:#f4f4f5;\">  <div aria-roledescription=\"email\" style=\"background-color:#f4f4f5;\" role=\"article\" lang=\"und\" dir=\"auto\">    <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:32px 16px 0;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:568px;\" ><![endif]-->              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                  <tbody>                    <tr>                      <td align=\"center\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">                          <tbody>                            <tr>                              <td style=\"width:140px;\">                                <img alt=\"ThisWay Global\" src=\"https://thiswayglobal.com/images/logo.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" width=\"140\" height=\"auto\" />                              </td>                            </tr>                          </tbody>                        </table>                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#f4f4f5\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"background:#f4f4f5;background-color:#f4f4f5;margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#f4f4f5;background-color:#f4f4f5;width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:0 16px 32px;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:40px 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:4px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:22px;font-weight:700;line-height:1.6;text-align:left;color:#18181b;\">New Registration</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#71717a;\">A new candidate has registered for a group interview.</div>                                </td>                              </tr>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:0 0 24px;word-break:break-word;\">                                  <p style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:100%;\">                                  </p>                                  <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:504px;\" role=\"presentation\" width=\"504px\" ><tr><td style=\"height:0;line-height:0;\"> &nbsp;</td></tr></table><![endif]-->                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 8px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\" style=\"border-collapse:separate;\">                            <tbody>                              <tr>                                <td style=\"background-color:#f4f4f5;border-radius:8px;vertical-align:top;border-collapse:separate;padding:20px;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"\" width=\"100%\">                                    <tbody>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">INTERVIEW SLOT</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.interview_label }}</div>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 8px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\" style=\"border-collapse:separate;\">                            <tbody>                              <tr>                                <td style=\"background-color:#f4f4f5;border-radius:8px;vertical-align:top;border-collapse:separate;padding:20px;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"\" width=\"100%\">                                    <tbody>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">ROLE</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.role }}</div>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 8px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\" style=\"border-collapse:separate;\">                            <tbody>                              <tr>                                <td style=\"background-color:#f4f4f5;border-radius:8px;vertical-align:top;border-collapse:separate;padding:20px;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"\" width=\"100%\">                                    <tbody>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">CANDIDATE</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}</div>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 8px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\" style=\"border-collapse:separate;\">                            <tbody>                              <tr>                                <td style=\"background-color:#f4f4f5;border-radius:8px;vertical-align:top;border-collapse:separate;padding:20px;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"\" width=\"100%\">                                    <tbody>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">EMAIL</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.email }}</div>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\" style=\"border-collapse:separate;\">                            <tbody>                              <tr>                                <td style=\"background-color:#f4f4f5;border-radius:8px;vertical-align:top;border-collapse:separate;padding:20px;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"\" width=\"100%\">                                    <tbody>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">PHONE</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.phone }}</div>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"margin:0px auto;max-width:568px;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">                  <tbody>                    <tr>                      <td style=\"direction:ltr;font-size:0px;padding:24px 32px 0;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:12px;line-height:1.6;text-align:center;color:#a1a1aa;\">ThisWay Global &middot; Group Interview System</div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><![endif]-->  </div></body></html>"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        480,
        1040
      ],
      "id": "9e2540bf-6c10-4d3d-b3ef-e8ec0d545a09",
      "name": "Notify Team",
      "credentials": {
        "mailgunApi": {
          "id": "lHQnhWsSULcKXB4f",
          "name": "Amalgamy.ai"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "notifications@m.thiswayglobal.com",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "bccEmail": "wattstoworkers@thiswayglobal.com",
        "subject": "=Interview Registration Confirmed - {{ $('Webhook').item.json.body.interview_label }}",
        "html": "=<!doctype html><html lang=\"und\" dir=\"auto\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head>  <title></title>  <!--[if !mso]><!-->  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">  <!--<![endif]-->  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">  <style type=\"text/css\">    #outlook a {      padding: 0;    }    body {      margin: 0;      padding: 0;      -webkit-text-size-adjust: 100%;      -ms-text-size-adjust: 100%;    }    table,    td {      border-collapse: collapse;      mso-table-lspace: 0pt;      mso-table-rspace: 0pt;    }    img {      border: 0;      height: auto;      line-height: 100%;      outline: none;      text-decoration: none;      -ms-interpolation-mode: bicubic;    }    p {      display: block;      margin: 13px 0;    }  </style>  <!--[if mso]>    <noscript>    <xml>    <o:OfficeDocumentSettings>      <o:AllowPNG/>      <o:PixelsPerInch>96</o:PixelsPerInch>    </o:OfficeDocumentSettings>    </xml>    </noscript>    <![endif]-->  <!--[if lte mso 11]>    <style type=\"text/css\">      .mj-outlook-group-fix { width:100% !important; }    </style>    <![endif]-->  <!--[if !mso]><!-->  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\" type=\"text/css\">  <style type=\"text/css\">    @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);  </style>  <!--<![endif]-->  <style type=\"text/css\">    @media only screen and (min-width:480px) {      .mj-column-per-100 {        width: 100% !important;        max-width: 100%;      }      .mj-column-per-50 {        width: 50% !important;        max-width: 50%;      }    }  </style>  <style media=\"screen and (min-width:480px)\">    .moz-text-html .mj-column-per-100 {      width: 100% !important;      max-width: 100%;    }    .moz-text-html .mj-column-per-50 {      width: 50% !important;      max-width: 50%;    }  </style>  <style type=\"text/css\">    @media only screen and (max-width:479px) {      table.mj-full-width-mobile {        width: 100% !important;      }      td.mj-full-width-mobile {        width: auto !important;      }    }  </style>  <style type=\"text/css\">    a {      color: #18181b;    }    .detail-label {      font-size: 11px;      text-transform: uppercase;      letter-spacing: 0.05em;      color: #71717a;      margin-bottom: 4px;    }    .detail-value {      font-size: 16px;      font-weight: 600;      color: #18181b;    }  </style></head><body style=\"word-spacing:normal;background-color:#f4f4f5;\">  <div aria-roledescription=\"email\" style=\"background-color:#f4f4f5;\" role=\"article\" lang=\"und\" dir=\"auto\">    <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:32px 16px 0;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:568px;\" ><![endif]-->              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                  <tbody>                    <tr>                      <td align=\"center\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">                          <tbody>                            <tr>                              <td style=\"width:140px;\">                                <img alt=\"ThisWay Global\" src=\"https://thiswayglobal.com/images/logo.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" width=\"140\" height=\"auto\" />                              </td>                            </tr>                          </tbody>                        </table>                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#f4f4f5\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"background:#f4f4f5;background-color:#f4f4f5;margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#f4f4f5;background-color:#f4f4f5;width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:0 16px 32px;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:40px 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:4px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:22px;font-weight:700;line-height:1.6;text-align:left;color:#18181b;\">Registration Confirmed</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#71717a;\">You're all set for your interview with ThisWay Global.</div>                                </td>                              </tr>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:0 0 24px;word-break:break-word;\">                                  <p style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:100%;\">                                  </p>                                  <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:504px;\" role=\"presentation\" width=\"504px\" ><tr><td style=\"height:0;line-height:0;\"> &nbsp;</td></tr></table><![endif]-->                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.first_name }},</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Thank you for registering for an interview with ThisWay Global. We're pleased to confirm your registration. Below you'll find everything you need for the interview.</div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 24px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\" style=\"border-collapse:separate;\">                            <tbody>                              <tr>                                <td style=\"background-color:#f4f4f5;border-radius:8px;vertical-align:top;border-collapse:separate;padding:20px;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"\" width=\"100%\">                                    <tbody>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">YOUR INTERVIEW</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 16px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.interview_label }}</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">ROLE</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 16px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.role }}</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">ZOOM MEETING LINK</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;font-weight:500;line-height:1.6;text-align:left;color:#18181b;\"><a href=\"https://us02web.zoom.us/j/88151751115?pwd=k1wvAbCpQ3fN5FHarOgY0W1dtd5Agb.1\" style=\"color:#18181b; text-decoration:underline;\">us02web.zoom.us/j/88151751115</a></div>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Please join the Zoom meeting at your scheduled time using the button below:</div>                                </td>                              </tr>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\">                                    <tbody>                                      <tr>                                        <td align=\"center\" bgcolor=\"#18181b\" role=\"presentation\" style=\"border:none;border-radius:6px;cursor:auto;mso-padding-alt:12px 24px;background:#18181b;\" valign=\"middle\">                                          <a href=\"https://us02web.zoom.us/j/88151751115?pwd=k1wvAbCpQ3fN5FHarOgY0W1dtd5Agb.1\" style=\"display:inline-block;background:#18181b;color:#fafafa;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;font-weight:600;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:6px;\" target=\"_blank\"> Join Zoom Meeting </a>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-top:24px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#71717a;\">Add this interview to your calendar:</div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:252px;\" ><![endif]-->                        <div class=\"mj-column-per-50 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\">                                    <tbody>                                      <tr>                                        <td align=\"center\" bgcolor=\"#ffffff\" role=\"presentation\" style=\"border:1px solid #e4e4e7;border-radius:6px;cursor:auto;mso-padding-alt:10px 20px;background:#ffffff;\" valign=\"middle\">                                          <a href=\"{{ 'https://calendar.google.com/calendar/render?action=TEMPLATE&text=Group%20Interview%20-%20ThisWay%20Global&dates=' + DateTime.fromISO($('Webhook').item.json.body.interview_date).toUTC().toISO().replace(/[-:]/g, '').replace(/\\.\\d+Z$/, 'Z') + '/' + DateTime.fromISO($('Webhook').item.json.body.interview_date).plus({minutes:30}).toUTC().toISO().replace(/[-:]/g, '').replace(/\\.\\d+Z$/, 'Z') + '&details=Group%20Interview%20with%20ThisWay%20Global%0A%0AJoin%20Zoom%20Meeting%3A%0Ahttps%3A%2F%2Fus02web.zoom.us%2Fj%2F88151751115%3Fpwd%3Dk1wvAbCpQ3fN5FHarOgY0W1dtd5Agb.1%0A%0APlease%20be%20ready%20to%20join%20at%20your%20scheduled%20time.&location=https%3A%2F%2Fus02web.zoom.us%2Fj%2F88151751115%3Fpwd%3Dk1wvAbCpQ3fN5FHarOgY0W1dtd5Agb.1' }}\" style=\"display:inline-block;background:#ffffff;color:#18181b;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:13px;font-weight:600;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 20px;mso-padding-alt:0px;border-radius:6px;\" target=\"_blank\"> Google Calendar </a>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td><td class=\"\" style=\"vertical-align:top;width:252px;\" ><![endif]-->                        <div class=\"mj-column-per-50 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\">                                    <tbody>                                      <tr>                                        <td align=\"center\" bgcolor=\"#ffffff\" role=\"presentation\" style=\"border:1px solid #e4e4e7;border-radius:6px;cursor:auto;mso-padding-alt:10px 20px;background:#ffffff;\" valign=\"middle\">                                          <a href=\"{{ 'https://outlook.live.com/calendar/0/action/compose?subject=Group%20Interview%20-%20ThisWay%20Global&startdt=' + DateTime.fromISO($('Webhook').item.json.body.interview_date).toUTC().toISO() + '&enddt=' + DateTime.fromISO($('Webhook').item.json.body.interview_date).plus({minutes:30}).toUTC().toISO() + '&body=Group%20Interview%20with%20ThisWay%20Global%0A%0AJoin%20Zoom%20Meeting%3A%0Ahttps%3A%2F%2Fus02web.zoom.us%2Fj%2F88151751115%3Fpwd%3Dk1wvAbCpQ3fN5FHarOgY0W1dtd5Agb.1%0A%0APlease%20be%20ready%20to%20join%20at%20your%20scheduled%20time.&location=https%3A%2F%2Fus02web.zoom.us%2Fj%2F88151751115%3Fpwd%3Dk1wvAbCpQ3fN5FHarOgY0W1dtd5Agb.1' }}\" style=\"display:inline-block;background:#ffffff;color:#18181b;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:13px;font-weight:600;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 20px;mso-padding-alt:0px;border-radius:6px;\" target=\"_blank\"> Outlook Calendar </a>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:8px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">If you have any questions prior to the interview, feel free to reach out. We look forward to connecting with you.</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-top:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Best regards,<br />                                    <strong>The ThisWay Global Team</strong>                                  </div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"margin:0px auto;max-width:568px;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">                  <tbody>                    <tr>                      <td style=\"direction:ltr;font-size:0px;padding:24px 32px 0;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:12px;line-height:1.6;text-align:center;color:#a1a1aa;\">ThisWay Global &middot; Austin, TX</div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><![endif]-->  </div></body></html>"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        480,
        1140
      ],
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Confirm Registration",
      "credentials": {
        "mailgunApi": {
          "id": "lHQnhWsSULcKXB4f",
          "name": "Amalgamy.ai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "g3d",
              "leftValue": "={{ DateTime.fromISO($('Webhook').item.json.body.interview_date).minus({days: 3}).toMillis() }}",
              "rightValue": "={{ DateTime.now().toMillis() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g0000000-0000-0000-0000-000000000001",
      "name": "If >3 Days Away",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1340
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ DateTime.fromISO($('Webhook').item.json.body.interview_date).minus({days: 3}).toISO() }}"
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Wait 3 Days Before",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        1300
      ]
    },
    {
      "parameters": {
        "fromEmail": "notifications@m.thiswayglobal.com",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "bccEmail": "wattstoworkers@thiswayglobal.com",
        "subject": "=Reminder: Your Interview with ThisWay Global",
        "html": "=<!doctype html><html lang=\"und\" dir=\"auto\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head>  <title></title>  <!--[if !mso]><!-->  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">  <!--<![endif]-->  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">  <style type=\"text/css\">    #outlook a {      padding: 0;    }    body {      margin: 0;      padding: 0;      -webkit-text-size-adjust: 100%;      -ms-text-size-adjust: 100%;    }    table,    td {      border-collapse: collapse;      mso-table-lspace: 0pt;      mso-table-rspace: 0pt;    }    img {      border: 0;      height: auto;      line-height: 100%;      outline: none;      text-decoration: none;      -ms-interpolation-mode: bicubic;    }    p {      display: block;      margin: 13px 0;    }  </style>  <!--[if mso]>    <noscript>    <xml>    <o:OfficeDocumentSettings>      <o:AllowPNG/>      <o:PixelsPerInch>96</o:PixelsPerInch>    </o:OfficeDocumentSettings>    </xml>    </noscript>    <![endif]-->  <!--[if lte mso 11]>    <style type=\"text/css\">      .mj-outlook-group-fix { width:100% !important; }    </style>    <![endif]-->  <!--[if !mso]><!-->  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\" type=\"text/css\">  <style type=\"text/css\">    @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);  </style>  <!--<![endif]-->  <style type=\"text/css\">    @media only screen and (min-width:480px) {      .mj-column-per-100 {        width: 100% !important;        max-width: 100%;      }    }  </style>  <style media=\"screen and (min-width:480px)\">    .moz-text-html .mj-column-per-100 {      width: 100% !important;      max-width: 100%;    }  </style>  <style type=\"text/css\">    @media only screen and (max-width:479px) {      table.mj-full-width-mobile {        width: 100% !important;      }      td.mj-full-width-mobile {        width: auto !important;      }    }  </style></head><body style=\"word-spacing:normal;background-color:#f4f4f5;\">  <div aria-roledescription=\"email\" style=\"background-color:#f4f4f5;\" role=\"article\" lang=\"und\" dir=\"auto\">    <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:32px 16px 0;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:568px;\" ><![endif]-->              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                  <tbody>                    <tr>                      <td align=\"center\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">                          <tbody>                            <tr>                              <td style=\"width:140px;\">                                <img alt=\"ThisWay Global\" src=\"https://thiswayglobal.com/images/logo.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" width=\"140\" height=\"auto\" />                              </td>                            </tr>                          </tbody>                        </table>                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#f4f4f5\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"background:#f4f4f5;background-color:#f4f4f5;margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#f4f4f5;background-color:#f4f4f5;width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:0 16px 32px;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:40px 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:4px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:22px;font-weight:700;line-height:1.6;text-align:left;color:#18181b;\">Interview Reminder</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#71717a;\">Your interview is coming up in a few days.</div>                                </td>                              </tr>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:0 0 24px;word-break:break-word;\">                                  <p style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:100%;\">                                  </p>                                  <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:504px;\" role=\"presentation\" width=\"504px\" ><tr><td style=\"height:0;line-height:0;\"> &nbsp;</td></tr></table><![endif]-->                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Hi {{ $('Webhook').item.json.body.first_name }},</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">This is a friendly reminder that your group interview with ThisWay Global is coming up in a few days. Please make sure you're prepared and ready to join at your scheduled time.</div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\" style=\"border-collapse:separate;\">                            <tbody>                              <tr>                                <td style=\"background-color:#f4f4f5;border-radius:8px;vertical-align:top;border-collapse:separate;padding:20px;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"\" width=\"100%\">                                    <tbody>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">YOUR INTERVIEW</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 16px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.interview_label }}</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">ROLE</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.role }}</div>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\">                                    <tbody>                                      <tr>                                        <td align=\"center\" bgcolor=\"#18181b\" role=\"presentation\" style=\"border:none;border-radius:6px;cursor:auto;mso-padding-alt:12px 24px;background:#18181b;\" valign=\"middle\">                                          <a href=\"https://us02web.zoom.us/j/88151751115?pwd=k1wvAbCpQ3fN5FHarOgY0W1dtd5Agb.1\" style=\"display:inline-block;background:#18181b;color:#fafafa;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;font-weight:600;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:6px;\" target=\"_blank\"> Join Zoom Meeting </a>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-top:24px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Best regards,<br />                                    <strong>The ThisWay Global Team</strong>                                  </div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"margin:0px auto;max-width:568px;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">                  <tbody>                    <tr>                      <td style=\"direction:ltr;font-size:0px;padding:24px 32px 0;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:12px;line-height:1.6;text-align:center;color:#a1a1aa;\">ThisWay Global &middot; Austin, TX</div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><![endif]-->  </div></body></html>"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        960,
        1300
      ],
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Reminder: 3 Days",
      "credentials": {
        "mailgunApi": {
          "id": "lHQnhWsSULcKXB4f",
          "name": "Amalgamy.ai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "g1d",
              "leftValue": "={{ DateTime.fromISO($('Webhook').item.json.body.interview_date).minus({days: 1}).toMillis() }}",
              "rightValue": "={{ DateTime.now().toMillis() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g0000000-0000-0000-0000-000000000002",
      "name": "If >1 Day Away",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1540
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ DateTime.fromISO($('Webhook').item.json.body.interview_date).minus({days: 1}).toISO() }}"
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Wait 1 Day Before",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        1500
      ]
    },
    {
      "parameters": {
        "fromEmail": "notifications@m.thiswayglobal.com",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "bccEmail": "wattstoworkers@thiswayglobal.com",
        "subject": "=Tomorrow: Your Group Interview with ThisWay Global",
        "html": "=<!doctype html><html lang=\"und\" dir=\"auto\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head>  <title></title>  <!--[if !mso]><!-->  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">  <!--<![endif]-->  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">  <style type=\"text/css\">    #outlook a {      padding: 0;    }    body {      margin: 0;      padding: 0;      -webkit-text-size-adjust: 100%;      -ms-text-size-adjust: 100%;    }    table,    td {      border-collapse: collapse;      mso-table-lspace: 0pt;      mso-table-rspace: 0pt;    }    img {      border: 0;      height: auto;      line-height: 100%;      outline: none;      text-decoration: none;      -ms-interpolation-mode: bicubic;    }    p {      display: block;      margin: 13px 0;    }  </style>  <!--[if mso]>    <noscript>    <xml>    <o:OfficeDocumentSettings>      <o:AllowPNG/>      <o:PixelsPerInch>96</o:PixelsPerInch>    </o:OfficeDocumentSettings>    </xml>    </noscript>    <![endif]-->  <!--[if lte mso 11]>    <style type=\"text/css\">      .mj-outlook-group-fix { width:100% !important; }    </style>    <![endif]-->  <!--[if !mso]><!-->  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\" type=\"text/css\">  <style type=\"text/css\">    @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);  </style>  <!--<![endif]-->  <style type=\"text/css\">    @media only screen and (min-width:480px) {      .mj-column-per-100 {        width: 100% !important;        max-width: 100%;      }    }  </style>  <style media=\"screen and (min-width:480px)\">    .moz-text-html .mj-column-per-100 {      width: 100% !important;      max-width: 100%;    }  </style>  <style type=\"text/css\">    @media only screen and (max-width:479px) {      table.mj-full-width-mobile {        width: 100% !important;      }      td.mj-full-width-mobile {        width: auto !important;      }    }  </style></head><body style=\"word-spacing:normal;background-color:#f4f4f5;\">  <div aria-roledescription=\"email\" style=\"background-color:#f4f4f5;\" role=\"article\" lang=\"und\" dir=\"auto\">    <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:32px 16px 0;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:568px;\" ><![endif]-->              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                  <tbody>                    <tr>                      <td align=\"center\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">                          <tbody>                            <tr>                              <td style=\"width:140px;\">                                <img alt=\"ThisWay Global\" src=\"https://thiswayglobal.com/images/logo.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" width=\"140\" height=\"auto\" />                              </td>                            </tr>                          </tbody>                        </table>                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#f4f4f5\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"background:#f4f4f5;background-color:#f4f4f5;margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#f4f4f5;background-color:#f4f4f5;width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:0 16px 32px;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:40px 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:4px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:22px;font-weight:700;line-height:1.6;text-align:left;color:#18181b;\">Your Interview is Tomorrow</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#71717a;\">Get ready — your interview is just one day away.</div>                                </td>                              </tr>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:0 0 24px;word-break:break-word;\">                                  <p style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:100%;\">                                  </p>                                  <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:504px;\" role=\"presentation\" width=\"504px\" ><tr><td style=\"height:0;line-height:0;\"> &nbsp;</td></tr></table><![endif]-->                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Hi {{ $('Webhook').item.json.body.first_name }},</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Just a quick heads-up — your group interview with ThisWay Global is <strong>tomorrow</strong>. Please make sure you have everything you need and are ready to join on time.</div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\" style=\"border-collapse:separate;\">                            <tbody>                              <tr>                                <td style=\"background-color:#f4f4f5;border-radius:8px;vertical-align:top;border-collapse:separate;padding:20px;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"\" width=\"100%\">                                    <tbody>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">YOUR INTERVIEW</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 16px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.interview_label }}</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">ROLE</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.role }}</div>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\">                                    <tbody>                                      <tr>                                        <td align=\"center\" bgcolor=\"#18181b\" role=\"presentation\" style=\"border:none;border-radius:6px;cursor:auto;mso-padding-alt:12px 24px;background:#18181b;\" valign=\"middle\">                                          <a href=\"https://us02web.zoom.us/j/88151751115?pwd=k1wvAbCpQ3fN5FHarOgY0W1dtd5Agb.1\" style=\"display:inline-block;background:#18181b;color:#fafafa;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;font-weight:600;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:6px;\" target=\"_blank\"> Join Zoom Meeting </a>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-top:24px;padding-bottom:8px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">We look forward to meeting you!</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-top:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Best regards,<br />                                    <strong>The ThisWay Global Team</strong>                                  </div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"margin:0px auto;max-width:568px;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">                  <tbody>                    <tr>                      <td style=\"direction:ltr;font-size:0px;padding:24px 32px 0;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:12px;line-height:1.6;text-align:center;color:#a1a1aa;\">ThisWay Global &middot; Austin, TX</div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><![endif]-->  </div></body></html>"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        960,
        1500
      ],
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Reminder: 1 Day",
      "credentials": {
        "mailgunApi": {
          "id": "lHQnhWsSULcKXB4f",
          "name": "Amalgamy.ai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "g2h",
              "leftValue": "={{ DateTime.fromISO($('Webhook').item.json.body.interview_date).minus({hours: 2}).toMillis() }}",
              "rightValue": "={{ DateTime.now().toMillis() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g0000000-0000-0000-0000-000000000003",
      "name": "If >2 Hours Away",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1740
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ DateTime.fromISO($('Webhook').item.json.body.interview_date).minus({hours: 2}).toISO() }}"
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Wait 2 Hours Before",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        1700
      ]
    },
    {
      "parameters": {
        "fromEmail": "notifications@m.thiswayglobal.com",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "bccEmail": "wattstoworkers@thiswayglobal.com",
        "subject": "=Starting Soon: Your Interview with ThisWay Global",
        "html": "=<!doctype html><html lang=\"und\" dir=\"auto\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head>  <title></title>  <!--[if !mso]><!-->  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">  <!--<![endif]-->  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">  <style type=\"text/css\">    #outlook a {      padding: 0;    }    body {      margin: 0;      padding: 0;      -webkit-text-size-adjust: 100%;      -ms-text-size-adjust: 100%;    }    table,    td {      border-collapse: collapse;      mso-table-lspace: 0pt;      mso-table-rspace: 0pt;    }    img {      border: 0;      height: auto;      line-height: 100%;      outline: none;      text-decoration: none;      -ms-interpolation-mode: bicubic;    }    p {      display: block;      margin: 13px 0;    }  </style>  <!--[if mso]>    <noscript>    <xml>    <o:OfficeDocumentSettings>      <o:AllowPNG/>      <o:PixelsPerInch>96</o:PixelsPerInch>    </o:OfficeDocumentSettings>    </xml>    </noscript>    <![endif]-->  <!--[if lte mso 11]>    <style type=\"text/css\">      .mj-outlook-group-fix { width:100% !important; }    </style>    <![endif]-->  <!--[if !mso]><!-->  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\" type=\"text/css\">  <style type=\"text/css\">    @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);  </style>  <!--<![endif]-->  <style type=\"text/css\">    @media only screen and (min-width:480px) {      .mj-column-per-100 {        width: 100% !important;        max-width: 100%;      }    }  </style>  <style media=\"screen and (min-width:480px)\">    .moz-text-html .mj-column-per-100 {      width: 100% !important;      max-width: 100%;    }  </style>  <style type=\"text/css\">    @media only screen and (max-width:479px) {      table.mj-full-width-mobile {        width: 100% !important;      }      td.mj-full-width-mobile {        width: auto !important;      }    }  </style></head><body style=\"word-spacing:normal;background-color:#f4f4f5;\">  <div aria-roledescription=\"email\" style=\"background-color:#f4f4f5;\" role=\"article\" lang=\"und\" dir=\"auto\">    <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:32px 16px 0;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:568px;\" ><![endif]-->              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                  <tbody>                    <tr>                      <td align=\"center\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">                          <tbody>                            <tr>                              <td style=\"width:140px;\">                                <img alt=\"ThisWay Global\" src=\"https://thiswayglobal.com/images/logo.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" width=\"140\" height=\"auto\" />                              </td>                            </tr>                          </tbody>                        </table>                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#f4f4f5\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"background:#f4f4f5;background-color:#f4f4f5;margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#f4f4f5;background-color:#f4f4f5;width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:0 16px 32px;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:40px 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:4px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:22px;font-weight:700;line-height:1.6;text-align:left;color:#18181b;\">Your Interview Starts Soon</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#71717a;\">You're up in about 2 hours — make sure you're ready.</div>                                </td>                              </tr>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:0 0 24px;word-break:break-word;\">                                  <p style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:100%;\">                                  </p>                                  <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:504px;\" role=\"presentation\" width=\"504px\" ><tr><td style=\"height:0;line-height:0;\"> &nbsp;</td></tr></table><![endif]-->                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Hi {{ $('Webhook').item.json.body.first_name }},</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Your group interview with ThisWay Global starts in about <strong>2 hours</strong>. Please make sure you're ready to join on time.</div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\" style=\"border-collapse:separate;\">                            <tbody>                              <tr>                                <td style=\"background-color:#f4f4f5;border-radius:8px;vertical-align:top;border-collapse:separate;padding:20px;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"\" width=\"100%\">                                    <tbody>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">YOUR INTERVIEW</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 16px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.interview_label }}</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0 0 4px;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:11px;line-height:1.6;text-align:left;color:#71717a;\">ROLE</div>                                        </td>                                      </tr>                                      <tr>                                        <td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\">                                          <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:16px;font-weight:600;line-height:1.6;text-align:left;color:#18181b;\">{{ $('Webhook').item.json.body.role }}</div>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:0 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\">                                    <tbody>                                      <tr>                                        <td align=\"center\" bgcolor=\"#18181b\" role=\"presentation\" style=\"border:none;border-radius:6px;cursor:auto;mso-padding-alt:12px 24px;background:#18181b;\" valign=\"middle\">                                          <a href=\"https://us02web.zoom.us/j/88151751115?pwd=k1wvAbCpQ3fN5FHarOgY0W1dtd5Agb.1\" style=\"display:inline-block;background:#18181b;color:#fafafa;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;font-weight:600;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:6px;\" target=\"_blank\"> Join Zoom Meeting </a>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-top:24px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">See you shortly!</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-top:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Best regards,<br />                                    <strong>The ThisWay Global Team</strong>                                  </div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"margin:0px auto;max-width:568px;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">                  <tbody>                    <tr>                      <td style=\"direction:ltr;font-size:0px;padding:24px 32px 0;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:12px;line-height:1.6;text-align:center;color:#a1a1aa;\">ThisWay Global &middot; Austin, TX</div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><![endif]-->  </div></body></html>"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        960,
        1700
      ],
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "Reminder: Starting Soon",
      "credentials": {
        "mailgunApi": {
          "id": "lHQnhWsSULcKXB4f",
          "name": "Amalgamy.ai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gpi",
              "leftValue": "={{ DateTime.fromISO($('Webhook').item.json.body.interview_date).plus({minutes: 90}).toMillis() }}",
              "rightValue": "={{ DateTime.now().toMillis() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g0000000-0000-0000-0000-000000000004",
      "name": "If Not Yet Ended",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1940
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ DateTime.fromISO($('Webhook').item.json.body.interview_date).plus({minutes: 90}).toISO() }}"
      },
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
      "name": "Wait Post-Interview",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        1900
      ]
    },
    {
      "parameters": {
        "fromEmail": "notifications@m.thiswayglobal.com",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "bccEmail": "wattstoworkers@thiswayglobal.com",
        "subject": "=Thank You for Your Interview - Share Your Feedback",
        "html": "=<!doctype html><html lang=\"und\" dir=\"auto\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head>  <title></title>  <!--[if !mso]><!-->  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">  <!--<![endif]-->  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">  <style type=\"text/css\">    #outlook a {      padding: 0;    }    body {      margin: 0;      padding: 0;      -webkit-text-size-adjust: 100%;      -ms-text-size-adjust: 100%;    }    table,    td {      border-collapse: collapse;      mso-table-lspace: 0pt;      mso-table-rspace: 0pt;    }    img {      border: 0;      height: auto;      line-height: 100%;      outline: none;      text-decoration: none;      -ms-interpolation-mode: bicubic;    }    p {      display: block;      margin: 13px 0;    }  </style>  <!--[if mso]>    <noscript>    <xml>    <o:OfficeDocumentSettings>      <o:AllowPNG/>      <o:PixelsPerInch>96</o:PixelsPerInch>    </o:OfficeDocumentSettings>    </xml>    </noscript>    <![endif]-->  <!--[if lte mso 11]>    <style type=\"text/css\">      .mj-outlook-group-fix { width:100% !important; }    </style>    <![endif]-->  <!--[if !mso]><!-->  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\" type=\"text/css\">  <style type=\"text/css\">    @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);  </style>  <!--<![endif]-->  <style type=\"text/css\">    @media only screen and (min-width:480px) {      .mj-column-per-100 {        width: 100% !important;        max-width: 100%;      }    }  </style>  <style media=\"screen and (min-width:480px)\">    .moz-text-html .mj-column-per-100 {      width: 100% !important;      max-width: 100%;    }  </style>  <style type=\"text/css\">    @media only screen and (max-width:479px) {      table.mj-full-width-mobile {        width: 100% !important;      }      td.mj-full-width-mobile {        width: auto !important;      }    }  </style></head><body style=\"word-spacing:normal;background-color:#f4f4f5;\">  <div aria-roledescription=\"email\" style=\"background-color:#f4f4f5;\" role=\"article\" lang=\"und\" dir=\"auto\">    <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:32px 16px 0;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:568px;\" ><![endif]-->              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                  <tbody>                    <tr>                      <td align=\"center\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">                          <tbody>                            <tr>                              <td style=\"width:140px;\">                                <img alt=\"ThisWay Global\" src=\"https://thiswayglobal.com/images/logo.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" width=\"140\" height=\"auto\" />                              </td>                            </tr>                          </tbody>                        </table>                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#f4f4f5\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->    <div style=\"background:#f4f4f5;background-color:#f4f4f5;margin:0px auto;max-width:600px;\">      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#f4f4f5;background-color:#f4f4f5;width:100%;\">        <tbody>          <tr>            <td style=\"direction:ltr;font-size:0px;padding:0 16px 32px;text-align:center;\">              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:568px;border-radius:12px;overflow:hidden;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;border-collapse:separate;\">                  <tbody>                    <tr>                      <td style=\"border-radius:12px;direction:ltr;font-size:0px;padding:40px 32px 32px;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:4px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:22px;font-weight:700;line-height:1.6;text-align:left;color:#18181b;\">Thank You for Interviewing</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#71717a;\">We appreciate your time and interest.</div>                                </td>                              </tr>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:0 0 24px;word-break:break-word;\">                                  <p style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:100%;\">                                  </p>                                  <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:solid 1px #e4e4e7;font-size:1px;margin:0px auto;width:504px;\" role=\"presentation\" width=\"504px\" ><tr><td style=\"height:0;line-height:0;\"> &nbsp;</td></tr></table><![endif]-->                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Hi {{ $('Webhook').item.json.body.first_name }},</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Thank you for attending your group interview with ThisWay Global today. We appreciate your time and interest in the training program.</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:16px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">We'd love to hear about your experience. Simply reply to this email to share any feedback, questions, or thoughts about the process.</div>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-bottom:24px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">If you'd like to schedule another interview for a different role or time, you can do so using the link below:</div>                                </td>                              </tr>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\">                                    <tbody>                                      <tr>                                        <td align=\"center\" bgcolor=\"#18181b\" role=\"presentation\" style=\"border:none;border-radius:6px;cursor:auto;mso-padding-alt:12px 24px;background:#18181b;\" valign=\"middle\">                                          <a href=\"https://thiswayglobal.com/group-interview\" style=\"display:inline-block;background:#18181b;color:#fafafa;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:14px;font-weight:600;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:6px;\" target=\"_blank\"> Schedule Another Interview </a>                                        </td>                                      </tr>                                    </tbody>                                  </table>                                </td>                              </tr>                              <tr>                                <td align=\"left\" style=\"font-size:0px;padding:10px 25px;padding-top:24px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#18181b;\">Best regards,<br />                                    <strong>The ThisWay Global Team</strong>                                  </div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:568px;\" width=\"568\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->              <div style=\"margin:0px auto;max-width:568px;\">                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">                  <tbody>                    <tr>                      <td style=\"direction:ltr;font-size:0px;padding:24px 32px 0;text-align:center;\">                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:504px;\" ><![endif]-->                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">                            <tbody>                              <tr>                                <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">                                  <div style=\"font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;font-size:12px;line-height:1.6;text-align:center;color:#a1a1aa;\">ThisWay Global &middot; Austin, TX</div>                                </td>                              </tr>                            </tbody>                          </table>                        </div>                        <!--[if mso | IE]></td></tr></table><![endif]-->                      </td>                    </tr>                  </tbody>                </table>              </div>              <!--[if mso | IE]></td></tr></table></td></tr></table><![endif]-->            </td>          </tr>        </tbody>      </table>    </div>    <!--[if mso | IE]></td></tr></table><![endif]-->  </div></body></html>"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        960,
        1900
      ],
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Follow-up: Rate or Reschedule",
      "credentials": {
        "mailgunApi": {
          "id": "lHQnhWsSULcKXB4f",
          "name": "Amalgamy.ai"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Count Registrations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Registrations": {
      "main": [
        [
          {
            "node": "Respond Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Registration": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confirm Registration",
            "type": "main",
            "index": 0
          },
          {
            "node": "If >3 Days Away",
            "type": "main",
            "index": 0
          },
          {
            "node": "If >1 Day Away",
            "type": "main",
            "index": 0
          },
          {
            "node": "If >2 Hours Away",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Not Yet Ended",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If >3 Days Away": {
      "main": [
        [
          {
            "node": "Wait 3 Days Before",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait 3 Days Before": {
      "main": [
        [
          {
            "node": "Reminder: 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If >1 Day Away": {
      "main": [
        [
          {
            "node": "Wait 1 Day Before",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait 1 Day Before": {
      "main": [
        [
          {
            "node": "Reminder: 1 Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If >2 Hours Away": {
      "main": [
        [
          {
            "node": "Wait 2 Hours Before",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait 2 Hours Before": {
      "main": [
        [
          {
            "node": "Reminder: Starting Soon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Yet Ended": {
      "main": [
        [
          {
            "node": "Wait Post-Interview",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait Post-Interview": {
      "main": [
        [
          {
            "node": "Follow-up: Rate or Reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6abfb47bea51a6f610a03c2f772741bc5d6bf3fa9900a4ec5d91227cefde6c68"
  }
}